@import "./responsive.scss";
.layout{
    height: 100vh;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20;
    padding-right: 20;
    display: flex;
    flex-direction: column;
    @include large{
        max-width: 1280;
    }
    @include medium{
        max-width: 768;
    }
    @include small{
    max-width: 640;
    }
    .content{
        flex: 1;
        height: calc(100vh - 100px);
    }
}
